<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedBazzar 🩺💉 | ✨💫 Online Medecine 💲🏥 Compare</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="/assets/Capture.PNG">
</head>
<body>
    <section class="container">
        <header>
            <div class="brandlogo">

            </div>
        
            <ul>
                <li>
                    <a href="#work">Working</a>
                </li>
                <li>
                    <a href="#abo">About</a>
                </li>
                <li>
                    <a href="#con">Contact</a>
                </li>
                
                <li>
                    <a href="https://github.com/NITHwebElites/newhack">Github</a>
                </li>
            
            </ul>
        </header>
        <div class="main">
        <h1 id = "main-head">
            save money on your<br> Prescription!
        
        </h1>
        
        <form method="POST" action="search" id = "main-form">

            <input type="text" list="medicines" placeholder="Enter Medicine Name Here" name="input" id = "search" autocomplete="off">
            <datalist id="medicines" style="display: none;" id = "resultsdatalist">
                <template id = "resultstemplate">
                    <% params.forEach(function(data){ %>
                        <option>
                            <%=data%>
                        </option>
                        <%})%>
                </template>
                
            </datalist>
            <br>
            <!-- <button type="submit">Compare</button> -->


        </form>
    </div>
    <div id="work" class="working">
         <div class="working_card">
            <h3>STEP 1</h3>
            <p>Get medicines online instead of visiting medicine stores.</p>
        </div>
        <div class="working_card">
            <h3>STEP 2</h3>
            <p>Find any difficulty to compare medicine prices?</p>
        </div>
        <div class="working_card">
            <h3>STEP 3</h3>
            <p>Compare medicine prices online on MedBazzar. </p>
        </div>
        <div class="working_card">
            <h3>STEP 4</h3>
            <p>Buy medicine at its cheapest price easily.</p>
        </div>
    </div>
    </section>
   

    <section id="abo" class="about">
        <div class="about_text">
            <h2>A Group Of Developers want to make world a better place</h2>
            <p>We are happy to provide our users a platform where one can compare prices
                 of medicines available at different websites.We are trying our best to solve problems faced by one while buying medicines online.</p>
            <button class="button">Learn More</button>
        </div>
        <div class="developers">
               <div class="dev">
                <img src="./assets/images/dev/IMG20210322162533.jpg" alt="">
                
                <div>
                    <h4>Pranjal Goyal</h4>
                    <p>I'm a Full Stack Developer with a passion for UI effects, animations and creating intuitive user experiences with scalable backend.</p>
                    <a href="https://github.com/Pranjal7852"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/pranjal-goyal-42a7a55b/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="dev">
                <img src="./assets/images/dev/My photo.jpeg" alt="">
                <div>
                    <h4>Eva Sharma</h4>
                    <p>As an enthusiastically receptive student, I am looking forward to making my mark in the industry as a Full Stack Developer.</p>
                    <a href="https://github.com/evasharma12"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/eva-sharma-94aab5207/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="dev">
                <img src="./assets/images/dev/kshitij.png" alt="">
                <div>
                    <h4>Kshitij Roodkee</h4>
                    <p>I'm aspiring to become  Full Stack Developer and python developer. Want to make the world aesthetic and cool</p>
                    <a href="https://github.com/horizenight"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/kshitij-roodkee-938887202"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="dev">
                <img src="./assets/images/dev/WhatsApp Image 2021-10-22 at 11.09.56 AM.jpeg" alt="">
                <div>
                    <h4>Digvijay Thakur</h4>
                    <p>Hey! i am a web developer trying to solve different problems via coding skills to make better world</p>
                    <a href="https://github.com/DIGVIJAYSINGH2003"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/digvijay-singh-thakur-a05582202/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
           
        </div>
    </section>
    <footer>
        <section id="con" class="contact">
            <div class="contact_details">
                <form method = "post" action = "/message">
                    <h2>Feel Free to Contact Us</h2> 
                    <input placeholder="Enter Message Here" type="text" name = "message">
                    <br><button type = "submit">SEND</button> 
                </form>

            </div>
           
        </section>
        <h3>Proudly Using data From</h3>
        <div class="mnc-container">
            <div class="mnc"></div>
            <div class="mnc"></div>
            <div class="mnc"></div>
            <div class="mnc"></div>
            
        </div>
        <p>© MedBazzar 2021 | MIT License | Some Rights Reserved</p>
    </footer>
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/84588adc24.js" crossorigin="anonymous"></script>
</body>
</html>
