@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
:root {
    --light-blue: #6E9FFF;
    --blue: #1597E5;
    --navy-blue: #113CFC;
    --dark-blue: #193498;
    --white: #FBFAF5;
    --green: #69DADB;
    --padding-box: 5px 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins","Sans-serif";
    background-color: #e8eefca2;
    
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--navy-blue);
  }
.container {
    height: 110vh;
    width: 100%;
    background-color: var(--light-blue);
    background-image: url(../assets/images/blurry-gradient-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 70px;
    transform: translateY(-100px);
    padding: 20vh 10vw 10vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
    position: relative;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
    

}
.brandlogo {
    background-image: url("../assets/images//medBazzar.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    height: 50px;
    transform: scale(1.9);
    filter: invert(100%);
}
header ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;

}
header li {
    list-style: none;
    padding: var(--padding-box);
    transition: 200ms;
    
}
header li a {
    text-decoration: none;
    color: var(--white);
}
header li:nth-of-type(4) {
    background-color: #113cfc8a;
    border-radius: 15px;
    height: fit-content;
    transition: 200ms;
    
}
header li:hover {
    background-color: #113cfc8a;
    border-radius: 15px;
    height: fit-content;
}
header li:nth-of-type(4):hover {
    background-color: #6E9FFF;
    border: 1px solid white;
}
.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    
}
.main h1 {
 
  color: var(--white);
  font-size: 4rem;
  opacity: 0.8;
  text-transform:capitalize;
  white-space:nowrap
}
.main-head-display{
    display: none;
}
.main form{
    width: 100%;
}
#search {
    outline: none;
    width: 70%;
    border-radius: 15px;
    border: none;
    height: 2rem;
    font-size: 1.3rem;
    padding: 2% 4% ;
    background-image: url("../assets//images//585e4ae1cb11b227491c3393.png");
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 20px;

}
.form{
    width:100%;
    animation: scaleUp 0.5s linear forwards;
}
#resultsdatalist{
    width: 70%;
}
.working {
    width: 70%;
    height: 90vh;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    border-radius: 50px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 5vh;
    display: flex;
    flex-wrap: wrap;
    --gap: 100px;

}
.working_card {
    flex-basis: 45%;
    height: 45%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    border-radius: 30px;
    padding: 3vh;
    margin-left: 30px;
    background-color: #a6bff393;
    padding-left: 20%;
    margin-top: 5px;
    background-size: 30%;
    background-position: 5%;
    background-repeat: no-repeat ;
    font-size: 1.7rem;
    transition: 200ms;
    
}
.working_card,.dev:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.199);

}
.working_card h3 {
   color: rgb(31, 31, 31);
    letter-spacing: 2px;

}
.working_card p {
    color: rgb(61, 61, 61);
    font-size: 1.4rem;
    text-align: left;
}
.working_card:nth-of-type(1) {
    background-image: url(./assets//images/person/person1.png);
    
}
.working_card:nth-of-type(2) {
    background-image: url(./assets//images/person/person2.png);
    
}
.working_card:nth-of-type(3) {
    background-image: url(./assets//images/person/person3.png);
    
}
.working_card:nth-of-type(4) {
    background-image: url(./assets//images/person/person4.png);
    
}
.about {
    height: 100vh;
    margin-top: 50vh;
    margin-bottom:60vh;
    padding: 10vh 15vw;
    display: flex;
   
}
.about_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 40vh;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    font-size: 1.2rem;
    text-align: left;
    
    
}
.about_text p {
    text-align: left;
    margin: 3vh 0;
    line-height: 2.5rem;
}
.developers {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    padding-left: 6vw;
    

}
.dev {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    width: 90%;
    border-radius: 15px;
    background-color: #a6bff393;
    display: flex;
    padding: 10px 15px;
    align-items: center;
    transition: 200ms;

}
.dev > img {
    width: 90px;
    height: 90%;
    border-radius: 10px;
    opacity: 0.9;
}
.dev div {
    text-align: left;
    margin-left: 10px;

}
.dev div p {
    text-align: left;
    margin: 1vh 0;
}
.dev a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.dev a i {
    transition: 200ms;
}
.dev a i:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 10px var(--navy-blue);
}
.dev:nth-of-type(1) {

}
.dev:nth-of-type(2) {
    margin-top: 5vh;
    align-self: flex-end;
}
.dev:nth-of-type(3) {
    margin-top: 5vh;
}
.dev:nth-of-type(4) {
    margin-top: 5vh;
    align-self: flex-end;
}
button {
    background-color: #113cfc8a;
    color: white;
    border-radius: 15px;
    height: fit-content;
    transition: 200ms;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms;
    
}
button:hover {
    background-color: var(--navy-blue);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}
footer{
    height: 50vh;
    background-image: url(./assets/images/blurry-gradient-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20vh 5vw 0vh;
    margin-top: 10vh;
    position: relative;
}
footer h3,p {
    text-align: center;
}
.mnc {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 100px;
    opacity: 0.7;
}
.mnc:nth-of-type(1) {
    background-image: url(./assets/images/logos/pharmeasy.svg);
}
.mnc:nth-of-type(2) {
    background-image: url(./assets/images/logos/practo.svg);
}
.mnc:nth-of-type(3) {
    background-image: url(./assets/images/logos/tata_1mg_logo.svg);
}
.mnc:nth-of-type(4) {
    background-image: url(./assets/images/logos/home-logo-netmeds-new.svg);
}
.mnc-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
}
.contact {
    width: 50%;
    height: 35vh;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: -1vh;
    color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 5vh;
    background-image: url(./assets//images/person/person5.png);
    background-size: contain;
    background-position: 90%;
    background-repeat: no-repeat ;
    
}
.contact_details input {
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.199);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.411);
    width: 50%;
    margin: 2vh 0;
}
.contact_details button {
    margin-top: 15px;
}

@keyframes scaleUp {
    from{
        transform: translateY(0);
    } to{
        transform: translateY(-150%);
    }
}