@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
:root {
    --light-blue: #6E9FFF;
    --blue: #1597E5;
    --navy-blue: #113CFC;
    --dark-blue: #193498;
    --white: #FBFAF5;
    --green: #69DADB;
    --padding-box: 5px 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins","Sans-serif";
    background-color: #e8eefca2;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--navy-blue);
  }
.container {
    height: 110vh;
    width: 100%;
    /* background-color: var(--light-blue); */
    background-image: url(./assets//images//blurry-gradient-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 70px;
    transform: translateY(-100px);
    padding: 20vh 10vw 10vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
    position: relative;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
    

}
.brandlogo {
    background-image: url("./assets/images//medBazzar.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    height: 50px;
    transform: scale(1.9);
    filter: invert(100%);
}
header ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;

}
header li {
    list-style: none;
    padding: var(--padding-box);
    transition: 200ms;
    
}
header li a {
    text-decoration: none;
    color: var(--white);
}
header li:nth-of-type(4) {
    background-color: #113cfc8a;
    border-radius: 15px;
    height: fit-content;
    transition: 200ms;
    
}
header li:hover {
    background-color: #113cfc8a;
    border-radius: 15px;
    height: fit-content;
}
header li:nth-of-type(4):hover {
    background-color: #6E9FFF;
    border: 1px solid white;
}
.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    
}
.main h1 {
 
  color: var(--white);
  font-size: 4rem;
  opacity: 0.8;
  text-transform:capitalize;
  white-space:nowrap
}
.main input {
    outline: none;
    width: 100%;
    border-radius: 15px;
    border: none;
    height: 2rem;
    font-size: 1.3rem;
    padding: 2% 4% ;
    background-image: url(./assets//images//585e4ae1cb11b227491c3393.png);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 20px;

}
.product-container {
    width: 100%;
    height: 50vh;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    border-radius: 50px;
    /* position: absolute;
    top: 120%;
    left: 50%; */
    background-color: white;
    padding: 5vh;
    display: flex;
    
    --gap: 100px;

}
.product_card {
    flex-basis: 30%;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    border-radius: 30px;
    padding: 3vh;
    background-color: #a6bff393;
   position: relative;
    margin-top: 5px;
    display: flex;
    margin-left: 15px;
}
.product_name {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    

}
.price {
    background-color: rgba(255, 255, 255, 0.322);
    font-size: 1.7rem;
    padding: 0.7rem 1rem;
    border-radius: 15px;
    color: black;
}
.product_img  {
    display: flex;
    align-items: center;
}
.product_img img {
    width: 150px;
    border-radius: 20px;
}
.product_details {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    padding-left: 1vw;
    margin-top: 3vh;
    justify-content: space-evenly;
    align-items: center;
}
.thumnail_brand {
    width: 100px;
    opacity: 0.7;
}
.lowest {
    border: 1px solid greenyellow;
    box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.6);
}

button {
    background-color: #113cfc8a;
    color: white;
    border-radius: 15px;
    height: fit-content;
    transition: 200ms;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms;
    
}
button:hover {
    background-color: var(--navy-blue);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}
footer{
    height: 50vh;
    background-image: url(./assets/images/blurry-gradient-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20vh 5vw 0vh;
    margin-top: 10vh;
    position: relative;
}
footer h3,p {
    text-align: center;
}
.mnc {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 100px;
    opacity: 0.7;
}
.mnc:nth-of-type(1) {
    background-image: url(./assets/images/logos/pharmeasy.svg);
}
.mnc:nth-of-type(2) {
    background-image: url(./assets/images/logos/practo.svg);
}
.mnc:nth-of-type(3) {
    background-image: url(./assets/images/logos/tata_1mg_logo.svg);
}
.mnc:nth-of-type(4) {
    background-image: url(./assets/images/logos/home-logo-netmeds-new.svg);
}
.mnc-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
}
.contact {
    width: 70%;
    height: 35vh;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: -1vh;
    color: rgb(44, 44, 44);
    
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 5vh;
}